<div class="container">
  <div class="row_fluid">
    <div class="span9">
      <h1>We're sorry....</h1>
      <p>Your username is invalid, or your password must be greater than 6 digits long.</p>
      <h3><a href="/">Try again</a></h3>
    </div>
  </div>
</div>
